<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>



</head>
<body>
<h1>registration</h1>
    <form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username: "><br>
    <input type="text" name="firstname" placeholder="enter firstname: "><br>
        <input type="text" name="lastname" placeholder="lastname: "><br>
        <input type="email" name="email" placeholder="enter email "><br>
        <input type="password" name="password" placeholder="password: "><br>
        <input type="password" name="password1" placeholder="password1: "><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>